<h1>Login to the system</h1>
<form method="post" action="">
   <label for="login" >Login</label><input type="text" value="{{ login }}" id="login" name="login" /><br />
   <label for="password" >Password</label> <input type="password" value="" id="password" name="password" /><br />
   <div class="remember"><input type="checkbox" name="remember" id="remember" value="1" checked> <span>Remember Me</span></div>
   <input type="submit" name="entercabmin" id="autopost" value="Log in" style="width:auto;">
   <div class="clear"></div>
</form>
