<img class="userpic" src="{{ staticUrl }}/img/users/{{ userpic }}.png" ></img>
<h1>Hello {{ login }}!</h1>
<small class="login-msg">Please login to unlock system.</small>
<form method="post" action="" >
   <input type="text" class="hidden" value="{{ login }}" id="login" name="login" /><br />
   <label for="password" >Password</label> <input type="password" value="" id="password" name="password" /><br />
   <div class="remember"><input type="checkbox" name="remember" id="remember" value="1" {% if remember %}checked{% endif %}> <span>Remember Me</span></div>
   <input type="submit" name="entercabmin" id="autopost" value="Log in" style="width:auto;">
   <div class="clear"></div>
</form>