/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
html, body {
    height: 100%;
}
body {
    /*line-height:1;*/
    color: #4D4E53;
}


article,aside,details,figcaption,figure, figure img, main,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    display: block;
    font-size: 195%;
}
h2 {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    display: block;
    font-size: 170%;
}
h3 {
    padding-top: 0.3em;
    padding-bottom: 0.15em;
    display: block;
    font-size: 145%;
    font-weight: 500;
}
h4 {
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    display: block;
    font-size: 125%;
    font-weight: 500;
}

.unselectable, .unselectable *, label, .button, button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    behavior: expression(
        (
            this.onselectstart = function() {
                return (/^(?:INPUT|TEXTAREA)$/).test( event.srcElement.tagName ) ?
                    event.cancelBubble = true :
                    (' ' + this.className + ' ').indexOf(' unselectable ') < 0
            }
        ),
        ( this.style.behavior = null )
    );
}